@import "tailwindcss";

:root {
  --background: #f0f4fa;
  --background-complementary: #F7F9FB;
  --foreground: #0F172A;
  --primary: #1377F7;
  --highlight: #F79313;
  --h1: 7.993rem;
  --h2: 5.653rem;
  --h3: 3.998rem;
  --h4: 2.827rem;
  --h5: 1.999rem;
  --h6: 1.414rem;
}

@theme inline {
  --color-background: var(--background);
  --color-background-complementary: var(--background-complementary);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --text-h1: var(--h1);
  --text-h2: var(--h2);
  --text-h3: var(--h3);
  --text-h4: var(--h4);
  --text-h5: var(--h5);
  --text-h6: var(--h6);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Source_Sans_3, Arial, Helvetica, sans-serif;
}

.flip-x {
  transform: scaleX(-1);
}

.flip-y {
  transform: scaleY(-1);
}