@import "tailwindcss";

:root {
  --background: #F7F9FB;
  --foreground: #1E1E1E;
  --primary: #2E5D9F;
  --h1: 5.61rem;
  --h2: 4.209rem;
  --h5: 1.777rem;
  --h6: 1.333rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-merriweather: var(--font-merriweather);
  --text-h1: var(--h1);
  --text-h2: var(--h2);
  --text-h5: var(--h5);
  --text-h6: var(--h6);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.flip-x {
  transform: scaleX(-1);
}
